{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "courseimage": "https://moodlesite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "hasprogress": true,
                "progress": 10,
                "visible": true
            }
        ]
    }
}}
<div class="col-4">
    <!--start card-->
    <div class="card-wrapper card-space" role="listitem"
        data-region="course-content"
        data-course-id="{{{id}}}">
            <div class="card card-bg card-big no-after">
                <div class="card-body">
                        <div class="head-tags">
                            <a href="#"></a>
                            {{#course_time_period}}
                                <span class="data">{{#str}}accessible, theme_moove{{/str}} {{startdate_formatted}}  {{enddate_formatted}}</span>
                            {{/course_time_period}}
                        </div>
                    <h3 class="card-title h5 ">
                            <a href="{{viewurl}}" class="aalink coursename mr-2 mb-1">
                                {{> core_course/favouriteicon }}
                                <span class="sr-only">
                                        {{#str}}aria:coursename, core_course{{/str}}
                                </span>
                                {{fullnamedisplay}}
                            </a>
                    </h3>
                    <p class="card-text">{{$coursecategory}}{{/coursecategory}} {{#tags}} - {{{tags}}} {{/tags}}</p>
                    {{$progress2}}{{/progress2}}
                    {{#competencies}}
                    
                    <p>
                        <h6>
                            <span class="badge badge-secondary btn-secondary" data-bs-toggle="collapse" href="#multiCollapseExample1{{{id}}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1{{{id}}}">
                                {{#str}}showcompetencies, theme_moove{{/str}}
                            </span>
                        </h6>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1{{{id}}}">
                                <div>
                                    {{{competencies}}}
                                </div>
                            </div>
                        </div>
                    </div> 
                    {{/competencies}}
                </div>
            </div>
    </div>
        <!--end card-->
</div>
